{
    order replace after encode
    # Global options
    auto_https disable_redirects
    # 可选: 配置邮箱用于 Let's Encrypt 通知
    email 213193509seu@gmail.com
}

# ACME challenge handling for HTTP
:80 {
root * /var/www/html
file_server
}

# 1. GPT反代服务。
http://chatai.qqyunsd.com {
redir https://{host}{uri} permanent
}

https://chatai.qqyunsd.com {

# 添加CORS头部 - 允许所有域访问
header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
    Access-Control-Allow-Headers *
    Access-Control-Max-Age 3600
    Access-Control-Expose-Headers Set-Cookie  # 这是新添加的行，允许前端访问Set-Cookie头

}
reverse_proxy http://52.221.142.198:8508 {
header_up Host soruxgpt-saas-liuli.soruxgpt.com
header_up myhost {http.request.host}
header_up Upgrade {header.Upgrade}
header_up Connection "upgrade"
transport http {
versions h1
}

}



}


# 2. shop反代服务。
http://ai.liuligpt.com {
redir https://{host}{uri} permanent
}

https://ai.liuligpt.com {
reverse_proxy {
    to http://52.221.142.198:911
    }
}


http://ailiu.585dg.com {
redir https://{host}{uri} permanent
}

https://ailiu.585dg.com {
reverse_proxy {
    to http://52.221.142.198:911
    }
}


# 3. liulidsj.585dg.com反代服务。
http://liulidsj.585dg.com {
    redir https://{host}{uri} permanent
}

https://liulidsj.585dg.com {
    reverse_proxy {
        to http://52.221.142.198:911
    }
}

# 4. gpthoutai.585dg.com 反代服务。
http://gpthoutai.585dg.com {
    redir https://{host}{uri} permanent
}

https://gpthoutai.585dg.com {
    reverse_proxy {
        to http://panel.soruxgpt.23.158.72.168.nip.io:31295
    }
}


# 5. GPT反代测试服务。
http://chatchangetest.585dg.com {
redir https://{host}{uri} permanent
}

https://chatchangetest.585dg.com {
@notapi {
not path /backend-api/conversation
}

replace @notapi {
"SoruxGPT 登录" "GPT 登录"
"SoruxGPT 账号" "GPT 账号"
"SoruxGPT 密码" "GPT 密码"
"Hello, SoruxGPT!" "Hello, GPT!"
"default-mail@soruxgpt.com" "email"
"SoruxGPT.com User" "User"
"Powered By SoruxGPT" "Powered By GPT"
"前往 SoruxGPT 注册" "前往 GPT 注册"
}

reverse_proxy https://soruxgpt-saas-liuli.soruxgpt.com {
    header_up Host soruxgpt-saas-liuli.soruxgpt.com
    header_up myhost {http.request.host}
    header_up Accept-Encoding identity  # 禁用上游服务器的压缩
}

}


# 5.1 GPT反代服务。
http://allai.qqyunsd.com {
redir https://{host}{uri} permanent
}

https://allai.qqyunsd.com {
@notapi {
not path /backend-api/conversation
}

replace @notapi {
"SoruxGPT 登录" "GPT 登录"
"SoruxGPT 账号" "GPT 账号"
"SoruxGPT 密码" "GPT 密码"
"Hello, SoruxGPT!" "Hello, GPT!"
"default-mail@soruxgpt.com" "email"
"SoruxGPT.com User" "User"
"Powered By SoruxGPT" "Powered By GPT"
"前往 SoruxGPT 注册" "前往 GPT 注册"
}

reverse_proxy https://soruxgpt-saas-liuli.soruxgpt.com {
    header_up Host soruxgpt-saas-liuli.soruxgpt.com
    header_up myhost {http.request.host}
    header_up Accept-Encoding identity  # 禁用上游服务器的压缩
}

}


# 6. LobreChat服务。
http://chatpoe.qqyunsd.com {
redir https://{host}{uri} permanent
}

https://chatpoe.qqyunsd.com {

   reverse_proxy {
        to http://52.221.142.198:3080
    }

}


http://drawgpt4o.qqyunsd.com {
redir https://{host}{uri} permanent
}

https://drawgpt4o.qqyunsd.com {
@notapi {
not path /backend-api/conversation
}
# 添加CORS支持 - 处理预检请求
@options {
    method OPTIONS
}
respond @options 204

# 添加CORS头部 - 允许所有域访问
header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
    Access-Control-Allow-Headers *
    Access-Control-Max-Age 3600
}



reverse_proxy http://52.221.142.198:8501 {
header_up Host {host}
header_up Upgrade {header.Upgrade}
header_up Connection "upgrade"
transport http {
versions h1
}
}
}

# 新的绑定的域名。 


http://agent.tikeai.com {
redir https://{host}{uri} permanent
}

https://agent.tikeai.com {
@notapi {
not path /backend-api/conversation
}
# 添加CORS支持 - 处理预检请求
@options {
    method OPTIONS
}
respond @options 204

# 添加CORS头部 - 允许所有域访问
header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
    Access-Control-Allow-Headers *
    Access-Control-Max-Age 3600
    Access-Control-Expose-Headers Set-Cookie  # 这是新添加的行，允许前端访问Set-Cookie头

}

reverse_proxy http://52.221.142.198:5001 {
header_up Host {host}
header_up Upgrade {header.Upgrade}
header_up Connection "upgrade"
transport http {
versions h1
}
}
}


# 7. RevPoe
http://revpoe.qqyunsd.com {
redir https://{host}{uri} permanent
}

https://revpoe.qqyunsd.com {

   reverse_proxy {
        to http://52.221.142.198:8505
    }

}

http://orig.aigc.tikeai.com {
redir https://{host}{uri} permanent
}

https://orig.aigc.tikeai.com {
@notapi {
not path /backend-api/conversation
}
# 添加CORS支持 - 处理预检请求
@options {
    method OPTIONS
}
respond @options 204

# 添加CORS头部 - 允许所有域访问
header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
    Access-Control-Allow-Headers *
    Access-Control-Max-Age 3600
    Access-Control-Expose-Headers Set-Cookie  # 这是新添加的行，允许前端访问Set-Cookie头

}

reverse_proxy http://52.221.142.198:5001 {
header_up Host {host}
header_up Upgrade {header.Upgrade}
header_up Connection "upgrade"
transport http {
versions h1
}
}
}


http://aigc.tikeai.com {
redir https://{host}{uri} permanent
}

https://aigc.tikeai.com {
@notapi {
not path /backend-api/conversation
}
# 添加CORS支持 - 处理预检请求
@options {
    method OPTIONS
}
respond @options 204

# 添加CORS头部 - 允许所有域访问
header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
    Access-Control-Allow-Headers *
    Access-Control-Max-Age 3600
    Access-Control-Expose-Headers Set-Cookie  # 这是新添加的行，允许前端访问Set-Cookie头

}

reverse_proxy http://52.221.142.198:5001 {
header_up Host {host}
header_up Upgrade {header.Upgrade}
header_up Connection "upgrade"
transport http {
versions h1
}
}
}
